body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #6193ff;
}

button {
    padding: 15px 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color:gray;
}

.color-display {
    height: 100px;
    margin: 20px 0;
    border: 2px solid white;
    border-radius: 10px;
}

p {
    font-size: 18px;
    color: #333;
}
